/*     VARIABLES      */

/* ------------------ */

$color-background-dark: #141414;
$color-background-light: rgb(245, 245, 245);
$color-text-dark: #141414;
$color-text-light: #e6eeed;
$color-primary-dark: #63b42d;
$color-primary-light: rgb(58, 226, 58);
$color-secondary-dark: #00ffd5;
$color-secondary-light: #00ffd5;
$color-background: $color-background-light;
$color-text: $color-text-light;
$color-primary: $color-primary-dark;
$color-secondary: $color-secondary-dark;
$color-background-inverse: $color-background-light;
$color-text-inverse: $color-background-dark;
$color-primary-inverse: $color-primary-light;
$color-secondary-inverse: $color-secondary-light;
