@font-face {
    font-family: 'FivoSansModern';
    src: url('FivoSansModern-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSansModern';
    src: url('FivoSansModern-Regular-Oblique.otf') format('opentype');
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'FivoSansModern';
    src: url('FivoSansModern-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSansModern';
    src: url('FivoSansModern-Medium-Oblique.otf') format('opentype');
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: 'FivoSansModern';
    src: url('FivoSansModern-Bold.otf') format('opentype');
    font-style: bold;
}

@font-face {
    font-family: 'FivoSansModern';
    src: url('FivoSansModern-Heavy.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSansModern';
    src: url('FivoSansModern-Heavy-Oblique.otf') format('opentype');
    font-weight: 600;
    font-style: oblique;
}

@font-face {
    font-family: 'FivoSansModern';
    src: url('FivoSansModern-ExtBlack.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSansModern';
    src: url('FivoSansModern-ExtBlack-Oblique.otf') format('opentype');
    font-weight: 700;
    font-style: oblique;
}